# Global CAPI settings, to be sourced
CLUSTERAPI_OPENSTACK_PROVIDER_VERSION=${capi_openstack_version}
CLUSTERAPI_VERSION=${clusterapi_version}
CILIUM_BINARIES="${cilium_binaries}"
PREFIX=${prefix}
TESTCLUSTER=${testcluster_name}
