# Global CAPI settings, to be sourced
CLUSTERAPI_OPENSTACK_PROVIDER_VERSION=${capi_openstack_version}
CLUSTERAPI_VERSION=${clusterapi_version}
CALICO_VERSION=${calico_version}
USE_CILIUM="${use_cilium}"
PREFIX=${prefix}
TESTCLUSTER=${testcluster_name}
