# Global CAPI settings, to be sourced
CLUSTERAPI_OPENSTACK_PROVIDER_VERSION=${capi_openstack_version}
CLUSTERAPI_VERSION=${clusterapi_version}
CALICO_VERSION=${calico_version}
PREFIX=${prefix}
TESTCLUSTER=${testcluster_name}
CLUSTER_API_OPENSTACK_INSTANCE_CREATE_TIMEOUT=${capo_instance_create_timeout}
