---
clouds:
 ${cloud_provider}:
  auth:
   auth_url: ${clouds.auth.auth_url}
   project_name: ${clouds.auth.project_name}
   project_id: ${clouds.auth.project_id}
   user_domain_name: ${clouds.auth.user_domain_name}
   project_domain_name: ${clouds.auth.user_domain_name}
   application_credential_id: ${appcredid}
   application_credential_secret: ${appcredsecret}
  region_name: ${clouds.region_name}
  interface: ${clouds.interface}
  identity_api_version: ${clouds.identity_api_version}
