[Global]
auth-url=${clouds.auth.auth_url}
tenant-name=${clouds.auth.project_name}
tenant-id=${clouds.auth.project_id}
domain-name=${clouds.auth.user_domain_name}
username=${secure.auth.username}
application-credential-id=${appcredid}
application-credential-secret=${appcredsecret}


[LoadBalancer]
manage-security-groups=true
use-octavia=true
