[Global]
auth-url=${clouds.auth.auth_url}
region="${clouds.region_name}"
application-credential-id=${appcredid}
application-credential-secret="${appcredsecret}"
tenant-id=${clouds.auth.project_id}

[LoadBalancer]
manage-security-groups=true
use-octavia=true
