[Global]
auth-url=${clouds.auth.auth_url}
tenant-name=${clouds.auth.project_name}
tenant-id=${clouds.auth.project_id}
domain-name=${clouds.auth.user_domain_name}
password=${secure.auth.password}
username=${secure.auth.username}

[LoadBalancer]
manage-security-groups=true
use-octavia=true
