[Global]
auth-url=""
tenant-name="scs-gardener-testbed-staging"
domain-name="scs-gardener"
password="YWVkOTIwYjY1YTA1"
username="admin@scs-gardener"

[LoadBalancer]
manage-security-groups=true
use-octavia=true
