---
clouds:
  ${cloud_provider}:
    interface: ${clouds.interface}
    identity_api_version: ${clouds.identity_api_version}
    region_name: ${clouds.region_name}
    cacert: /home/${ssh_username}/cluster-defaults/${cloud_provider}-cacert
    auth_type: "v3applicationcredential"
    auth:
      auth_url: ${clouds.auth.auth_url}
      application_credential_id: ${appcredid}
      application_credential_secret: "${appcredsecret}"
