# cluster-api template for provider openstack
#
# use-case: single Kubernetes controlplane and 1 worker node
#

# Kubernetes version
KUBERNETES_VERSION: ${kubernetes_version}

# Namespace
NAMESPACE: ${namespace}

# Openstack Availablity Zone
OPENSTACK_FAILURE_DOMAIN: ${availability_zone}

# Openstack external Network ID
# hint: openstack network list -c ID
#
OPENSTACK_EXTERNAL_NETWORK_ID: ${external}

OPENSTACK_SSH_KEY_NAME: ${prefix}-keypair
OPENSTACK_IMAGE_NAME: ubuntu-capi-image-${kubernetes_version}
OPENSTACK_DNS_NAMESERVERS: 9.9.9.9

OPENSTACK_CONTROL_PLANE_IP: 127.0.0.1
OPENSTACK_CONTROL_PLANE_MACHINE_FLAVOR: ${controller_flavor}
CONTROL_PLANE_MACHINE_COUNT: ${controller_count}

OPENSTACK_NODE_MACHINE_FLAVOR: ${worker_flavor}
WORKER_MACHINE_COUNT: ${worker_count}

# the section used at clouds.yaml
OPENSTACK_CLOUD: ${cloud_provider}

# the clouds.yaml
# hint: $(base64 -w0 < clouds.yaml )
#
OPENSTACK_CLOUD_YAML_B64:

# the cloud provider config
# hint: base64 -w0 < cloud.conf
#
OPENSTACK_CLOUD_PROVIDER_CONF_B64:

# The Certificate Authority (CA) used for Openstack API endpoints. We use
# "let's encrypt" https://letsencrypt.org/certs/letsencryptauthorityx3.pem.txt
# hint: base64 -w0 < cacert.pam
#
OPENSTACK_CLOUD_CACERT_B64:

# Set MTU in VM hosts
MTU_VALUE: ${kind_mtu}

# deploy metrics service
DEPLOY_METRICS: ${deploy_metrics_service}

# deploy openstack and cindercsi from github instead of local copies
DEPLOY_K8S_OPENSTACK_GIT: ${deploy_k8s_openstack_git}
DEPLOY_K8S_CINDERCSI_GIT: ${deploy_k8s_cindercsi_git}
