# cluster-api template for provider openstack
#
# use-case: single Kubernetes controlplane and 1 worker node
# 

# Kubernetes version
KUBERNETES_VERSION: ${kubernetes_version}

# Openstack Availablity Zone
OPENSTACK_FAILURE_DOMAIN: ${availability_zone}

# Openstack external Network ID
# hint: openstack network list -c ID
#
OPENSTACK_EXTERNAL_NETWORK_ID: ${external}

OPENSTACK_KEYPAIR_NAME: capi-keypair
OPENSTACK_IMAGE_NAME: ${image}

OPENSTACK_CONTROL_PLANE_MACHINE_FLAVOR: ${flavor}
OPENSTACK_CONTROLPLANE_IP: 127.0.0.1
CONTROL_PLANE_MACHINE_COUNT: 1

OPENSTACK_NODE_MACHINE_FLAVOR: ${flavor}
WORKER_MACHINE_COUNT: 1

# the section used at clouds.yaml
OPENSTACK_CLOUD: ${cloud_provider}

# the clouds.yaml
# hint: $(base64 -w0 < clouds.yaml )
#
OPENSTACK_CLOUD_YAML_B64: 

# the cloud provider config
# hint: base64 -w0 < cloud.conf
#
OPENSTACK_CLOUD_PROVIDER_CONF_B64:
 
# the Certificate Authority (CA) used for Openstack API endpoints
# the "let's encrypt" is used https://letsencrypt.org/certs/letsencryptauthorityx3.pem.txt
# hint: base64 -w0 < cacert.pam
#
OPENSTACK_CLOUD_CACERT_B64:
