#!/usr/bin/env bash

KUBERNETES_VERSION="${kubernetes_version}"
VERSION_CAPI_IMAGE=$(echo $KUBERNETES_VERSION | sed 's/\.[[:digit:]]*$//g')
PROVIDER="${provider}"


#install Openstack CLI
sudo apt install -y python3-openstackclient

#download/upload image to openstack
CAPIIMG=$(openstack --os-cloud $PROVIDER image list --name ubuntu-capi-image)
if test -z "$CAPIIMG"; then
  wget https://images.osism.tech/openstack-k8s-capi-images/ubuntu-2004-kube-$VERSION_CAPI_IMAGE/ubuntu-2004-kube-$VERSION_CAPI_IMAGE.qcow2
  openstack --os-cloud $PROVIDER image create --disk-format qcow2 --file ubuntu-2004-kube-$VERSION_CAPI_IMAGE.qcow2 ubuntu-capi-image
fi
