---
clouds:
  default:
    interface: "public"
    identity_api_version: 3
    image_api_version: 2
    auth:
      auth_url:
      project_name:
      user_domain_name:
      # openstack does not necessarily need this, but the templates want it
      project_domain_name:
    region_name:
