---
clouds:
  example:
    interface: "public"
    identity_api_version: 3
    image_api_version: 2
    auth:
      auth_url:
      project_name:
      user_domain_name:
      project_domain_name:
    region_name:
