[Unit]
Description=Docker Set MTU to 1400
After=docker.service
Requires=docker.socket

[Service]
Type=oneshot
ExecStart=/bin/ip link set dev docker0 mtu 1400

[Install]
WantedBy=multi-user.target
