# Variables used for k8s cluster-api openstack provider
# used at $HOME/.cluster-api/clusterctl.yaml
# see more at https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/docs/configuration.md

KUBERNETES_VERSION: "<the kubernetes version, e.g v1.18.10>"

OPENSTACK_CLOUD_CACERT_B64: "<the openstack-api-cacert b64 coded>"
OPENSTACK_CLOUD: "<cloud name at clouds.yaml>"
OPENSTACK_CLOUD_YAML_B64: "<clouds.yaml b64 coded>"
OPENSTACK_CLOUD_PROVIDER_CONF_B64: "<cloud.conf b64 coded>"

OPENSTACK_SSH_AUTHORIZED_KEY: "<a  openstack nova keypair>"

OPENSTACK_EXTERNAL_NETWORK_ID: "<the openstack neutron external network>"
OPENSTACK_FAILURE_DOMAIN: "<the openstack availabilty zone>"
OPENSTACK_DNS_NAMESERVERS: "<dns server ip for neutron network>"

OPENSTACK_IMAGE_NAME: "<glance image for kubernetes nodes>"

OPENSTACK_CONTROLPLANE_IP: "<a predifinied openstack neutron floating ip>
OPENSTACK_CONTROL_PLANE_MACHINE_FLAVOR: "<openstack nova flavor for control-plane>"
CONTROL_PLANE_MACHINE_COUNT: 1

OPENSTACK_NODE_MACHINE_FLAVOR: "<openstack nova flavor for nodes>"
WORKER_MACHINE_COUNT: 1
