clouds:
  ci-cloud:
    region_name: "RegionOne"
    interface: "public"
    identity_api_version: 3
    auth_type: "v3applicationcredential"
    auth:
      auth_url: https://api.gx-scs.sovereignit.cloud:5000
      application_credential_id: {{ openstack_appcred.id }}
      application_credential_secret: {{ openstack_appcred.secret }}
