cloud_provider    = "{{ cloud_provider }}"
prefix            = "{{ prefix }}"
testcluster_name  = "{{ testcluster_name }}"

availability_zone = "nova"
external          = "ext01"
kind_flavor       = "SCS-2V:4:20"
controller_flavor = "SCS-2V:4:20"
worker_flavor     = "SCS-2V:4:20"
